.fonte10 {
    font-size: 10pt;
}

.fonte12 {
    font-size: 12pt;
}
.fonte14 {
    font-size: 14pt;
}
.fonte16 {
    font-size: 16pt;
}
.fonte18 {
    font-size: 18pt;
}
.fonte20 {
    font-size: 20pt;
}
.fonte24 {
    font-size: 24pt;
}
.fonte36 {
    font-size: 36pt;
}
.fonte30 {
    font-size: 30pt;
}